<div class="flex-1 h-full overflow-y-auto pb-0.5">
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedShipments()"
        [disabled]="!selectedShipments || !selectedShipments.length"
      />
    </ng-template>

    <ng-template #end>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        auto
        customUpload
        class="mr-2 inline-block"
        [chooseButtonProps]="{ severity: 'secondary' }"
      />
      <p-button
        label="Export"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="shipments"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedShipments"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Shipments</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        <th style="min-width: 16rem">Code</th>
        <th pSortableColumn="name" style="min-width: 16rem">
          Name
          <p-sortIcon field="name" />
        </th>
        <th>Image</th>
        <th pSortableColumn="price" style="min-width: 8rem">
          Price
          <p-sortIcon field="price" />
        </th>
        <th pSortableColumn="category" style="min-width: 10rem">
          Category
          <p-sortIcon field="category" />
        </th>
        <th pSortableColumn="rating" style="min-width: 12rem">
          Reviews
          <p-sortIcon field="rating" />
        </th>
        <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
          Status
          <p-sortIcon field="inventoryStatus" />
        </th>
        <th style="min-width: 12rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-shipment>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="shipment" />
        </td>
        <td style="min-width: 12rem">{{ shipment.code }}</td>
        <td style="min-width: 16rem">{{ shipment.name }}</td>
        <td>
          <img
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/shipment/' +
              shipment.image
            "
            [alt]="shipment.name"
            style="width: 64px"
            class="rounded"
          />
        </td>
        <td>{{ shipment.price | currency : "USD" }}</td>
        <td>{{ shipment.category }}</td>
        <td>
          <p-rating [(ngModel)]="shipment.rating" [readonly]="true" />
        </td>
        <td>
          <p-tag
            [value]="shipment.inventoryStatus"
            [severity]="getSeverity(shipment.inventoryStatus)"
          />
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editShipment(shipment)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteShipment(shipment)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ shipments ? shipments.length : 0 }} shipments.
      </div>
    </ng-template>
  </p-table>


<p-dialog
  [(visible)]="shipmentDialog"
  [style]="{ width: '450px' }"
  header="Shipment Details"
  [modal]="true"
>
  <ng-template #content>
    <div class="flex flex-col gap-6">
      <img
        [src]="
          'https://primefaces.org/cdn/primeng/images/demo/shipment/' +
          shipment.image
        "
        [alt]="shipment.image"
        class="block m-auto pb-4"
        *ngIf="shipment.image"
      />
      <div>
        <label for="name" class="block font-bold mb-3">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="shipment.name"
          required
          autofocus
          fluid
        />
        <small class="text-red-500" *ngIf="submitted && !shipment.name"
          >Name is required.</small
        >
      </div>
      <div>
        <label for="description" class="block font-bold mb-3"
          >Description</label
        >
        <textarea
          id="description"
          pTextarea
          [(ngModel)]="shipment.description"
          required
          rows="3"
          cols="20"
          fluid
        ></textarea>
      </div>

      <div>
        <label for="inventoryStatus" class="block font-bold mb-3"
          >Inventory Status</label
        >
        <p-select
          [(ngModel)]="shipment.inventoryStatus"
          inputId="inventoryStatus"
          [options]="statuses"
          optionLabel="label"
          placeholder="Select a Status"
          fluid
        />
      </div>

      <div>
        <span class="block font-bold mb-4">Category</span>
        <div class="grid grid-cols-12 gap-4">
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="category1"
              name="category"
              value="Accessories"
              [(ngModel)]="shipment.category"
            />
            <label for="category1">Accessories</label>
          </div>
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="category2"
              name="category"
              value="Clothing"
              [(ngModel)]="shipment.category"
            />
            <label for="category2">Clothing</label>
          </div>
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="category3"
              name="category"
              value="Electronics"
              [(ngModel)]="shipment.category"
            />
            <label for="category3">Electronics</label>
          </div>
          <div class="flex items-center gap-2 col-span-6">
            <p-radiobutton
              id="category4"
              name="category"
              value="Fitness"
              [(ngModel)]="shipment.category"
            />
            <label for="category4">Fitness</label>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="price" class="block font-bold mb-3">Price</label>
          <p-inputnumber
            id="price"
            [(ngModel)]="shipment.price"
            mode="currency"
            currency="USD"
            locale="en-US"
            fluid
          />
        </div>
        <div class="col-span-6">
          <label for="quantity" class="block font-bold mb-3">Quantity</label>
          <p-inputnumber id="quantity" [(ngModel)]="shipment.quantity" fluid />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveShipment()" />
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
</div>