<!-- todo make navigation bar horiziontal in ombile -->
<div class="w-full rounded-3xl flex gap-6 overflow-hidden" style="height: calc(100vh);  padding: 1rem 0rem 1rem 1rem" >
  <div
    [ngClass]="{
      'w-auto': isSlimMenu,
      'w-72': !isSlimMenu
    }"

    class="rounded-2xl p-5 bg-surface-50 dark:bg-surface-900 h-full flex flex-col justify-between"
  >
    <div
      [ngClass]="{
        'w-12 flex flex-col items-center': isSlimMenu,
        'w-auto': !isSlimMenu
      }"

    >
      <div class="flex items-center gap-3">
        <div
          class="w-11 h-11 border border-primary rounded-xl flex items-center justify-center"
        >
          <img [src]="isDarkMode ? 'logowhite.svg' : 'logo.svg'" alt="estajer" height="20" width="24" />
        </div>
        <div
          [ngClass]="{
            hidden: isSlimMenu,
            block: !isSlimMenu
          }"
          class="text-surface-950 dark:text-surface-0 font-medium text-3xl"
        >
        {{'EstajerApp'|translate}}
        </div>
      </div>
      <div class="mt-10 flex flex-col gap-2">
        <div
          *ngFor="let navItem of sampleAppsSidebarNavs"
          [pTooltip]="isSlimMenu ? navItem.title : null"
          (click)="setSelectedSampleAppsSidebarNav(navItem)"
          class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
          [ngClass]="{
            'w-12 justify-center py-4': isSlimMenu,
            'w-full': !isSlimMenu,
            'text-muted-color hover:bg-emphasis bg-transparent':
              selectedSampleAppsSidebarNav !== navItem.title,
            'text-primary-contrast bg-primary hover:bg-primary-emphasis':
              selectedSampleAppsSidebarNav === navItem.title
          }"
        >
          <i [class]="navItem.icon"></i>
          <span
            [ngClass]="{
              hidden: isSlimMenu,
              'font-medium leading-8': !isSlimMenu
            }"
            >・</span
          >
          <span
            [ngClass]="{
              hidden: isSlimMenu,
              'font-medium leading-none': !isSlimMenu
            }"
            >{{ navItem.title }}</span
          >
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'w-12 flex flex-col items-center': isSlimMenu,
        'w-auto': !isSlimMenu
      }"
    >
      <div class="mt-10 flex flex-col gap-2">
        <div
          *ngIf="false"
          [pTooltip]="isSlimMenu ? 'Expanded Mode' : undefined"
          class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none text-muted-color hover:bg-emphasis"
          [ngClass]="{
            'w-12 justify-center py-4': isSlimMenu,
            'w-full': !isSlimMenu
          }"
        >
          <a class="cursor-pointer block p-0 m-0 leading-none">
            <a class="cursor-pointer block p-0 m-0 leading-none">
              <i
                [class]="
                  isSlimMenu ? 'pi pi-window-maximize' : 'pi pi-window-minimize'
                "
              ></i>
              <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-8'"
                >・</span
              >
              <span
                [class]="isSlimMenu ? 'hidden' : 'font-medium leading-none'"
              >
                Slim Mode</span
              >
            </a>
          </a>
        </div>
        <div
          *ngFor="let navItem of sampleAppsSidebarNavsMore"
          [pTooltip]="isSlimMenu ? navItem.title : null"
          class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
          [ngClass]="{
            'w-12 justify-center py-4': isSlimMenu,
            'w-full': !isSlimMenu,
            'text-muted-color hover:bg-emphasis bg-transparent':
              selectedSampleAppsSidebarNav !== navItem.title,
            'text-primary-contrast bg-primary hover:bg-primary-emphasis':
              selectedSampleAppsSidebarNav === navItem.title
          }"
        >
          <i [class]="navItem.icon"></i>
          <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-8'"
            >・</span
          >
          <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-none'">{{
            navItem.title
          }}</span>
        </div>
      </div>
      <p-divider />
      <div
        [class]="isSlimMenu ? 'justify-center' : ' gap-3'"
        class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
      >
        <p-avatar

          (click)="dashboardSidebarVisible = true"
          image="https://cdn.arabsstock.com/uploads/images/149020/image-149020-elegance-attention-external-appearance-personal-photos-of-preview.jpg"
          size="large"
          shape="circle"
          class="shrink-0"
        />
        <div>
          <div
            [class]="
              isSlimMenu
                ? 'hidden'
                : 'text-base font-medium text-color leading-5'
            "
          >
            سعود الحمدان
          </div>
          <div
            [class]="isSlimMenu ? 'hidden' : 'text-sm text-muted-color mt-1'"
          >
            care&#64;softs.ca
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [style.width]="isSlimMenu ? 'calc(100vw - 10rem)' : 'calc(100vw)'" style="padding: 1rem;" class="flex-1 h-full overflow-y-auto pb-0.5">
    <router-outlet></router-outlet>
  </div>
  <!-- <chat-app *ngIf="selectedSampleAppsSidebarNav === 'Chat'" />
                <inbox-app *ngIf="selectedSampleAppsSidebarNav === 'Inbox'" />
                <cards-app *ngIf="selectedSampleAppsSidebarNav === 'Cards'" />
                <movies-app *ngIf="selectedSampleAppsSidebarNav === 'Movies'" />
                -->
</div>

<!-- Preferences -->
<p-drawer
  [(visible)]="dashboardSidebarVisible"
  position="right"
  closeIcon="pi pi-sign-out"
  styleClass="!max-w-2xl !w-full !h-screen rounded-l-2xl"
>
  <ng-template #headless>
    <div class="flex flex-col h-screen overflow-auto">
      <div class="">
        <div class="flex align-items-center gap-3 p-6">
          <p-avatar
            image="https://cdn.arabsstock.com/uploads/images/149020/image-149020-elegance-attention-external-appearance-personal-photos-of-preview.jpg"
            size="large"
            class="rounded-xl overflow-hidden"
          />
          <div class="flex-1">
            <div class="leading-6 text-color font-medium">سعود الحمدان</div>
            <!-- todo should linked with account name -->
            <div class="mt-1 leading-5 text-muted-color text-sm">
              {{'AccountName'|translate}}
            </div>
          </div>
          <p-button
            (onClick)="dashboardSidebarVisible = false"
            icon="pi pi-sign-out"
            text
            rounded
            severity="secondary"
          />
        </div>
      </div>

      <div class="h-[calc(100%-72px)] flex flex-col gap-4 p-6" >
        <div class="flex items-center gap-3">
          <i class="pi pi-moon text-color text-xl"></i>
          <div class="leading-6 text-color flex-1">{{'darkMode' | translate}}</div>
          <p-toggleswitch [(ngModel)]="darkMode"
          (ngModelChange)="toggleDarkMode()"
          />
      </div>
      <div class="flex items-center gap-3">
        <div class="leading-6 text-color flex-1">{{'language' | translate}}</div>
        <p-selectbutton
        [options]="[
          { label: 'English', value: 'en' },
          { label: 'العربية', value: 'ar' }]"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="onLanguageChange($event)"
          aria-labelledby="language-selector">
        </p-selectbutton>

    </div>
      </div>

    </div>
  </ng-template>
</p-drawer>
