<!-- todo make navigation bar horiziontal in ombile -->
<div class="w-full rounded-3xl flex flex-col h-full overflow-hidden">
  <!-- Top Navbar -->
  <div class="flex items-center p-4  text-white">
    <p-toolbar class="flex-1">
      <!-- Left Section (Logo & Menu Toggle) -->
      <div class="flex items-center gap-4">
        <!-- Hamburger Menu Button to toggle Sidebar -->
        <button pButton icon="pi pi-bars" (click)="toggleSidebar()" class="p-button-rounded p-button-text"></button>

        <!-- Logo and App Name -->
        <img [src]="isDarkMode ? 'logowhite.svg' : 'logo.svg'" alt="Logo" height="30" width="40" />
        <span class="text-2xl font-semibold">استأجر بلس</span>
      </div>

      <!-- Right Section (User Profile and other actions) -->
      <div class="flex items-center gap-4">
        <p-avatar
          (click)="dashboardSidebarVisible = true"
          image="https://cdn.arabsstock.com/uploads/images/149020/image-149020-elegance-attention-external-appearance-personal-photos-of-preview.jpg" shape="circle" size="large"></p-avatar>
        <span class="text-lg">سعود الحمدان</span>
        <button pButton icon="pi pi-sign-out"  [label]="'logout' | translate" class="p-button-text"></button>
      </div>
    </p-toolbar>
  </div>

  <div class="flex-1 flex gap-6 p-4 overflow-hidden">
    <!-- Sidebar Section (toggleable) -->
    <div
      [ngClass]="{
        'hidden': isSlimMenu,
        'w-72': !isSlimMenu,
        'transition-all': true
      }"
      class="rounded-2xl p-5 bg-surface-50 dark:bg-surface-900 h-full flex flex-col justify-between"
    >
      <div class="flex flex-col items-center gap-3">

        <!-- Sidebar Navigation -->
        <div class="mt-10 flex flex-col gap-2">
          <div *ngFor="let navItem of sampleAppsSidebarNavs" [pTooltip]="isSlimMenu ? navItem.title : null"
               (click)="setSelectedSampleAppsSidebarNav(navItem)" class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
               [ngClass]="{
              'w-12 justify-center py-4': isSlimMenu,
              'w-full': !isSlimMenu,
              'text-muted-color hover:bg-emphasis bg-transparent': selectedSampleAppsSidebarNav !== navItem.title,
              'text-primary-contrast bg-primary hover:bg-primary-emphasis': selectedSampleAppsSidebarNav === navItem.title
            }">
            <i [class]="navItem.icon"></i>
            <span [ngClass]="{ 'hidden': isSlimMenu, 'font-medium leading-8': !isSlimMenu }">・</span>
            <span [ngClass]="{ 'hidden': isSlimMenu, 'font-medium leading-none': !isSlimMenu }">{{ navItem.title }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Section (Responsive width) -->
    <div [style.width]="isSlimMenu ? 'calc(100vw - 3rem)' : 'calc(100vw - 18rem)'" style="padding: 1rem;" class="flex-1 h-full overflow-y-auto pb-0.5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!-- Preferences -->
<p-drawer
  [(visible)]="dashboardSidebarVisible"
  position="right"
  closeIcon="pi pi-sign-out"
  styleClass="!max-w-2xl !w-full !h-screen rounded-l-2xl"
>
  <ng-template #headless>
    <div class="flex flex-col h-screen overflow-auto">
      <div class="">
        <div class="flex align-items-center gap-3 p-6">
          <p-avatar
            image="https://www.primefaces.org/cdn/primevue/images/landing/apps/avatar11.jpg"
            size="large"
            class="rounded-xl overflow-hidden"
          />
          <div class="flex-1">
            <div class="leading-6 text-color font-medium">Brook Simmons</div>
            <!-- todo should linked with account name -->
            <div class="mt-1 leading-5 text-muted-color text-sm">
              Account Name
            </div>
          </div>
          <p-button
            (onClick)="dashboardSidebarVisible = false"
            icon="pi pi-sign-out"
            text
            rounded
            severity="secondary"
          />
        </div>
      </div>

      <div class="h-[calc(100%-72px)] flex flex-col gap-4 p-6" >
        <div class="flex items-center gap-3">
          <i class="pi pi-moon text-color text-xl"></i>
          <div class="leading-6 text-color flex-1">{{'darkMode' | translate}}</div>
          <p-toggleswitch [(ngModel)]="darkMode"
          (ngModelChange)="toggleDarkMode()"
          />
      </div>
      <div class="flex items-center gap-3">
        <div class="leading-6 text-color flex-1">{{'language' | translate}}</div>
        <p-selectbutton
        [options]="[
          { label: 'English', value: 'en' },
          { label: 'العربية', value: 'ar' }]"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="onLanguageChange($event)"
          aria-labelledby="language-selector">
        </p-selectbutton>

    </div>
      </div>

    </div>
  </ng-template>
</p-drawer>
