<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
      <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
          <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
              <div class="text-center mb-8">
                  <img style="justify-self: center;" src="logo.svg" alt="Image" height="50" width="50"
          class="mb-3">
                  <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Forgot password?</div>
                  <span class="text-muted-color font-medium">Verification code
                    has been sent to email</span>
              </div>

              <div
        class="rounded-full px-4 py-1 bg-surface-200 dark:bg-surface-800 w-fit mx-auto mt-4 text-color text-lg leading-relaxed mb-3"
      >
        u*******m&#64;gmail.com
      </div>
      <div class="flex items-center justify-center mb-3">
        <p-button label="Resend" text />
      </div>
      <div class="flex items-center justify-center  mb-3 p-4">
        <p-inputotp
          [(ngModel)]="forgotPasswordOTP"
          [length]="6"
          [integerOnly]="true"
          class="w-full [&>*]:flex-1 [&>*]:min-h-14 [&>*]:text-2xl"
        />
      </div>
      <button pButton pRipple label="Change password" class="w-full"></button>
      </div>
  </div>
</div>