<div class="flex-1 h-full overflow-y-auto pb-0.5">
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button
      label="{{ 'New' | translate }}"
      icon="pi pi-plus"
        class="mr-2"
        (onClick)="createNewReservation()"
      />
    </ng-template>

    <ng-template #end>
      <p-button
      label="{{ 'Export' | translate }}"
      icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

<div class="flex-1 h-full overflow-y-auto pb-0.5">
  <div class="flex items-start gap-2 justify-between">
    <div>
      <div class="text-2xl leading-8 text-color font-medium">{{ 'Reservations' | translate }}</div>
      <div class="mt-1 leading-6 text-muted-color">
        {{ 'The analysis list here shows all reservations' | translate }}
      </div>
    </div>
  </div>
  <div class="mt-10 mb-4 flex items-center justify-between">
    <p-iconfield iconPosition="left">
      <p-inputicon class="pi pi-search"> </p-inputicon>
      <input pInputText type="text" [(ngModel)]="search" placeholder="{{ 'searchpleaceholder' | translate }}"  />
    </p-iconfield>
    <div class="flex items-center gap-3">
      <p-button icon="pi pi-filter" outlined severity="secondary" />
      <p-divider layout="vertical" class="m-0 p-0" />
      <p-button icon="pi pi-refresh" outlined severity="secondary" />
      <p-button label="1 of 15" outlined severity="secondary" />
      <p-button icon="pi pi-chevron-left" outlined severity="secondary" />
      <p-button icon="pi pi-chevron-right" outlined severity="secondary" />
    </div>
  </div>
  <div
    class="flex-1 last:[&>td]:border-0 rounded-lg border border-surface w-full overflow-auto"
  >
    <p-table
      [value]="reservations"
      [(selection)]="selectedReservations"
      dataKey="id"
      [rows]="10"
    >
      <ng-template #header>
        <tr>
          <th style="width: 1rem">
            <p-tableHeaderCheckbox />
          </th>
          <th>{{ 'Name' | translate }}</th>
          <th>{{ 'From' | translate }}</th>
          <th>{{ 'To' | translate }}</th>
          <th>{{ 'Duration' | translate }}</th>
          <th>{{ 'User' | translate }}</th>
          <th>{{ 'Items' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-reservation>
        <tr (click)="showDetails(reservation.id)">
            <td style="width: 3rem">
              <p-tableCheckbox [value]="reservation" />
            </td>
            <td>{{ reservation.name }}
              <div class="row-meta">
                <span class="status-badge status-converted"><div class="circle mr-1"></div>{{ reservation.status }}</span>
              </div>
            </td>
            <td>
              <span>10 يناير</span>
              <br>
              <small>الجمعة 9:00 صباحًا</small>
            </td>
            <td>
              <span>10 يناير</span>
              <br>
              <small>الجمعة 9:00 صباحًا</small>
            </td>
            <td>{{ reservation.duration  }}{{'days'|translate}}</td>
            <td>
              <div class="grid grid-cols-3 gap-0 gap-sm-2">
                <div class="col-span-1"><span class="hidden lg:inline"><span color="indigo" title="{{reservation.user}}" class="  Avatarstyles__StyledAvatar-sc-ueoe40-0 deGDOT">{{reservation.user[0]}}</span></span></div>
                <div class="col-span-2"><span class="align-items-center">{{ reservation.user }}</span></div>
              </div>
            </td>
            <td>
              <ul class="Stackstyles__StyledStack-sc-uxq0c0-0 fpQRIc ImageGroup___StyledStack-sc-1hv20lx-0 fnbGii">
                @for (item of reservation.items; track item) {
                <li  class="ImageGroupstyles__StyledListItem-sc-fc089o-1 dZJniH">
                    <img alt="" src="{{'https://primefaces.org/cdn/primeng/images/demo/product/' +item}}" class="Imagestyles__StyledImage-sc-ge4iq2-0 jwsKoM">
                </li>
                }
                @empty {
                <li>{{'No items'|translate}}</li>
                }
              </ul>
            </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>
